<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
      text-align:center; 
    }
    </style>
<body>
    <div >
        {% for employee in employees %}
        <h1>Employee name is :{{employee.name}} and his/her company name is : {{employee.company.name}}</h1> <br>
        {% endfor %}
    </div>
</body>
</html>